.container {
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    box-sizing: border-box;
    background: rgba(122, 122, 122, 0.08);
    top: 0;
    left: 0;
    
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;

}

.title {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 2rem;
    text-align: center;
}

.form {
    background: white;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}

.formGroup {
    margin-bottom: 1.5rem;
}

.label {
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
    font-weight: 600;
}

.input {
    width: 100%;
    padding: 0.75rem;
    border: 2px solid #575757;
    border-radius: 15px;
    font-size: 1rem;
    transition: border-color 0.3s;
    box-sizing: border-box;
}

.input:focus {
    outline: none;
    border-color: #939393;
}

.button {
    width: 100%;
    padding: 0.75rem;
    background: #616161;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
}

.button:hover:not(:disabled) {
    background: #323232;
}

.button:disabled {
    background: #838383;
    cursor: not-allowed;
}

.error {
    color: #e53e3e;
    margin-top: 1rem;
    text-align: center;
}

.link {
    color: #4c4c4c;
    text-align: center;
    margin-top: 1rem;
    cursor: pointer;
}